<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <!-- Coding With Nick -->
    <title>Login Form</title>
</head>

<body>
    {{ status }}
    <div class="wrapper login">
        <div class="container">
            <div class="col-left">
                <div class="login-text">
                    
                    <h3><a href="/" class="btn">Home</a></h3>
                </div>
            </div>

            <div class="col-right">
                <div class="login-form">
                    <h2>Forget Password</h2>
                    <form action="/forgetpassword" method="post">
                        {% csrf_token %}
                        <div>
                            {% for message in messages %}
                            <h5 style="color: red;"> {{ message }} </h5>
                            {% endfor %}
                        </div>
                        <p>
                            <label>Username or email address<span>*</span></label>
                            <input type="text" placeholder="Username or Email" required name="email">
                        </p>
                        
                        <p>
                            <input type="submit" value="Submit">
                        </p>
                        

                    </form>
                </div>
            </div>

        </div>
    </div>

</body>

</html>
</body>
</html>